<header>
  <nav class="nav-bar">
    <div class="logo">
      <a href="{{ site.url }}/"
        ><img
          class="image-light"
          src="{{ site.url }}/assets/images/maler-assets/MALER_NEW_LOGO_BLACK.png"
          alt="logo"
          height="30"
        />
        <img
          class="image-dark"
          src="{{ site.url }}/assets/images/maler-assets/MALER_NEW_LOGO_WHITE.png"
          alt="logo"
          height="30"
        />
      </a>
    </div>
    <ul class="nav-menu">
      <li class="maler-menu"><a href="{{ site.url }}/">MALer Lab</a></li>
      <!-- <li><a href="{{ site.url }}/intro/">Intro</a></li> -->
      <li><a href="{{ site.url }}/members/">Members</a></li>
      <li><a href="{{ site.url }}/publications/">Publications</a></li>
      <li><a href="{{ site.url }}/news/">News</a></li>
      <li>
        <button id="theme-toggle" class="theme-toggle" />
      </li>
    </ul>
  </nav>
</header>
