// _sass/_footer.scss
footer {
  background-color: --secondary-color;
  padding: 2rem;
  padding-left: 4rem;
  text-align: left; /* Left alignment */
  color: --primary-color;
  font-size: 0.875rem; /* Font size adjustment */
}

footer p {
  margin: 0.5rem 0;
  font-size: 0.75rem; /* Smaller font size */
}

footer a {
  color: --accent-color;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
