// _sass/_responsive.scss

@media (max-width: 1024px) {
  header {
    padding: 2rem;
    width: 100%;
    margin: 0;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .nav-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu {
    margin-top: 1rem;
    justify-content: center;
  }

  .nav-menu a {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .container {
    padding: 1rem;
  }

  footer {
    padding: 1rem;
    padding-left: 2.5rem;
  }
}

// under 768px
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  header {
    padding: 1rem;
    width: 100%;
    margin: 0;
  }

  .nav-bar {
    flex-direction: column;
  }

  #logo {
    height: 2.5rem;
  }

  .nav-menu {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--primary-color);
  }

  .menu-toggle.open + .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .nav-menu a {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
  }
  footer {
    padding: 1rem;
    padding-left: 2rem;
  }

  .profile {
    flex-direction: column !important;
    img {
      width: 70% !important;
    }
  }
  .maler-menu {
    display: none;
  }

  .mobile-full img {
    width: 100% !important;
  }
}

// under 480px
@media (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
  }

  .nav-menu a {
    font-size: 0.875rem;
  }

  #logo {
    height: 2rem;
  }
  footer {
    padding: 1rem;
    padding-left: 0.5rem;
  }
}
