<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-30JXE75HT9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-30JXE75HT9");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://MALerLab.github.io" />
    <meta
      property="og:image"
      content="https://MALerLab.github.io/assets/images/maler-assets/maler_og.jpg"
    />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="{{ site.url }}/assets/images/maler-assets/maler_og.jpg"
    />
    <meta property="og:description" content="{{ site.description }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta
      name="twitter:image"
      content="https://MALerLab.github.io/assets/images/maler-assets/maler_og.jpg"
    />
    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"
    />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <link
      rel="icon"
      type="image/png"
      href="{{ site.baseurl }}/assets/images/maler-assets/favicon.png"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css" |
    relative_url }}">
    <!-- {% seo %} -->
  </head>
  <body>
    {% include header.html %}

    <div class="container">
      <div class="page-content">{{ content }}</div>
    </div>

    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
  </body>
</html>
