<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-30JXE75HT9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-30JXE75HT9");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://MALerLab.github.io/assets/images/maler-assets/maler_new_og.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:image"
      content="https://MALerLab.github.io/assets/images/maler-assets/maler_new_og.png"
    />
    <meta property="description" content="{{site.description}}" />
    <title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ '/assets/images/maler-assets/favicon.png' | relative_url }}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ '/assets/images/maler-assets/favicon.png' | relative_url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/images/maler-assets/favicon.png' | relative_url }}"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="{{ '/assets/images/maler-assets/favicon.png' | relative_url }}"
    />
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ '/feed.xml' | relative_url }}"
    />

    {% seo title=false %}
  </head>
  <body>
    {% include header.html %}

    <div class="container">
      <div class="page-content">{{ content }}</div>
    </div>

    {% include footer.html %}
    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  </body>
</html>
